@import "../../../variables.scss";

.champions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: $categoryBorder;
  cursor: pointer;
}

.champions-container:hover {
  background: $navBackgroundHover;
}

.champions {
  cursor: pointer;
  padding: $categoryPadding;
}
