@import "../../../variables.scss";

.champions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: $categoryBorder;
  cursor: pointer;
}

.champions-container:hover {
  background: $navBackgroundHover;
}

.champions {
  cursor: pointer;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  .champions {
    padding: 1em 1.5em 1em 1.5em;
  }
}
