@import "../../variables.scss";

.nav-container {
  color: $primaryFontColor;
  text-align: center;
  background: $navBackgroundColor;
  border-bottom: 1px solid grey;
  font-family: $primaryFont;
}

.nav-categories {
  display: flex;
  flex-direction: row;
}

.logo-container {
  border-right: $categoryBorder;
  padding: 0.6em 1em;
  cursor: pointer;
}

.logo-container:hover {
  background: $navBackgroundHover;
}

#league-logo {
  width: 25px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .logo-container {
    padding: 1em 1.5em 1em 1.5em;
  }

  #league-logo {
    width: 30px;
  }
}
